body {
  margin: 0;
  background: black;
  font-family: Arial, sans-serif;
}

.transfer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.transfer-card {
  width: 400px;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.balance {
  color: #8bc34a;
  font-size: 24px;
  font-weight: bold;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}

button {
  background: #8bc34a;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
}

.accounts-container {
  background: black;
  min-height: 100vh;
  padding: 40px;
}

.accounts-container h1 {
  color: #8bc34a;
  text-align: center;
}

.account-card {
  background: #1b1b1b;
  color: white;
  padding: 20px;
  margin: 20px auto;
  width: 420px;
  border-radius: 12px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.3s;
}

.account-card:hover {
  border-color: #8bc34a;
  transform: translateY(-3px);
}

.account-card h2 {
  color: #8bc34a;
}

.selected-account {
  margin: 40px auto;
  width: 420px;
  background: #111;
  color: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
}

.selected-account h1 {
  color: #8bc34a;
}

.navbar {
  background: #111;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #8bc34a;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #8bc34a;
}

.page {
  background: black;
  color: white;
  min-height: 100vh;
  padding: 40px;
}